@charset "UTF-8";
*{ scroll-behavior: smooth;}

html, body { position: absolute !important; top: 50% !important; left: 50%; width: 100%; height: 100%; max-width: 2560px; max-height: 1600px; margin: 0 auto; padding: 0; background: #fefefe; overflow: hidden; transform: translate(-50%, -50%); clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); font-family: 'Noto Sans KR'; }

h1,
h2,
h3 { font-family: 'Mulish'; font-weight: 700; line-height: .9em; }
h4,
h5,
p { line-height: 1.25em; }

h1 { font-size: 100px; }
h2 { font-size: 80px; text-transform: uppercase; }
h3 { font-size: 40px; color: #879BCD; }
h4 { font-size: 20px; font-weight: 600; }
h5, p { font-size: 16px; font-weight: 400; }

.title-con{ margin-bottom: 80px; }
.title-con.nobt{ margin-bottom: 0; }
.title-con > * { position: relative; }
.title-con.center{ text-align: center; } 
.title-con.right{ text-align: right; }

.title-con h2 { margin-top: 10px; }
.title-con h4 { margin-top: 31px; }
.title-con h5,
.title-con p { margin-top: 34px; }
.title-con p.mobileonly { display: none; }

.title-con.white h2,
.title-con.white h4,
.title-con.white h5,
.title-con.white p { color: #fefefe; }

ul.v-con { width: calc(100% + 40px); margin: 0 -20px -40px; position: relative; }
ul.v-con li.cells { position: relative; display: inline-block; margin: 0 20px 40px; vertical-align: top; }
ul.v-con li.cells.box { position: relative; }
ul.v-con.one-con > li.cells { width: calc(100% - 40px); }
ul.v-con.two-con > li.cells { width: calc(50% - 40px); }
ul.v-con.three-con > li.cells { width: calc(33.333% - 40px); }
ul.v-con.four-con > li.cells { width: calc(25% - 40px); }
ul.v-con.five-con > li.cells { width: calc(20% - 40px); }
ul.v-con.six-con > li.cells { width: calc(16.666% - 40px); }

#fullpage { position: relative; top: 0px; z-index: 9; width: 100%; height: 100%; }
.fullsections { position: relative; width: 100vw; height: 100vh; overflow: hidden; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); align-items: center; background-color: #fefefe; }
#contact { background-color: #aaf; }

.fullsections .full-inner { position: absolute; top: 50%; left: 50%; width: 80%; min-width: 360px; height: 80%; transform: translate(-50%, -50%); }

.quick { position: fixed; left: 20px; top: 50%; transform: translateY(-50%); z-index: 100000; }
.quick li { width: 35px; height: 2px; border-radius: 2px; margin-bottom: 20px; background-color: #fefefe; cursor: pointer; transition: width 400ms ease-out; }
body.light-mode .quick li { background-color: #111; }
.quick .on { width: 50px; }

@keyframes light {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes cursor{ 
  0%{border-right: 2px solid #fff; } 
  50%{border-right: 2px solid rgba(1, 1, 1, 0); } 
  100%{border-right: 2px solid #fff; } 
}
@keyframes button{
  0%{ background: rgba(1, 1, 1, 0); box-shadow: 0 0 5px 2px rgba(244, 244, 244, 0); }
  50%{ background: rgba(1, 1, 1, .3); box-shadow: 0 0 5px 2px rgba(244, 244, 244, .5); }
  100%{ background: rgba(1, 1, 1, 0); box-shadow: 0 0 5px 2px rgba(244, 244, 244, 0); }
}
/*transform: scale(1);  transform: scale(.95); transform: scale(1);  */
@keyframes tel-icons{
  0%{ transform: rotate(0deg); }
  30%{ transform: rotate(0deg); }
  40%{ transform: rotate(-10deg); }
  50%{ transform: rotate(10deg); }
  60%{ transform: rotate(-10deg); }
  70%{ transform: rotate(0deg); }
  100%{ transform: rotate(0deg); }
}
@keyframes set-icons{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(180deg); }
}
@keyframes loc-icons{
  0%{ transform: translateY(3px); }
  100%{ transform: translateY(0); }
}
@keyframes scroll {
  0% { opacity: 1;}
  100% { opacity: 0; top: 70px;}
}

.tdelay.t750 {transition-delay: 750ms !important;}
.tdelay.t1050 {transition-delay: 1050ms !important;}
.tdelay.t1200 {transition-delay: 1200ms !important;}
.tdelay.t1350 {transition-delay: 1350ms !important;}
.tdelay.t1500 {transition-delay: 1500ms !important;}
.tdelay.t1650 {transition-delay: 1650ms !important;}
.tdelay.t3200 {transition-delay: 3200ms !important;}

#header { background-color: rgba(1, 1, 1, 0); }

#visual { background: url(../../img/main/bg-visual.webp) 15% 50% no-repeat; background-size: cover; }
#visual:before { content: ''; position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: url(../../img/main/bg-visual-light.webp) 15% 50% no-repeat; background-size: cover; mix-blend-mode: overlay; opacity: 1; animation: light 3000ms linear infinite alternate; }
/* clip-path: polygon(35% 0%, 86% 0%, 100% 14%, 100% 100%, 86% 100%, 35% 49%);*/
#visual .title-con { margin-top: 12%; }
#visual .title-con > * { text-shadow: 0 0 15px rgba(1, 1, 1, .3); }
#visual .title-con h2 { font-size: 72px; }
#visual .title-con h3 { color: #fefefe; margin-top: 40px; font-size: 36px; opacity: 0; transform: translateX(-10px); transition: all 250ms linear; }
#visual .title-con .typing-txt { display: none; }
#visual .title-con .typing h2 { display: block; }
.scroll-icon, .scroll-icon:before { position: absolute; left: calc(50% - 25px);}
.scroll-icon { width: 50px; height: 85px; top: 90%; border: 1px solid #FFF; border-radius: 28px;}
.scroll-icon:before { content: ''; width: 8px; height: 8px; border-radius: 50%; background: #FFF; top: 6px; left: 20px; animation-duration: 1.5s; animation-iteration-count: infinite; animation-name: scroll;}
#visual .title-con .typing h2.on { display: inline-block; animation: cursor 400ms linear infinite; }
/*scroll-animation*/
#visual .title-con h3.on { opacity: 1; transform: translateX(0); }
#visual button.on { animation: button 500ms ease-out 3800ms; }
/*scroll-animation-end*/

#int { background: url(../../img/main/bg-int.webp) 0% 50% no-repeat; background-size: cover; }
#int .full-inner .v-con { height: 100%; }
#int .full-inner .v-con li.cells { border-radius: 20px; overflow: hidden; opacity: 1; transition: all 300ms ease-out; }
#int .full-inner .v-con li.cells:first-child { overflow: visible; vertical-align: middle; height: calc(50% - 60px); }
#int .full-inner .v-con li.cells:nth-child(2) { background: url(../../img/main/box-201.webp) 50% 50% no-repeat; background-size: cover; }
#int .full-inner .v-con li.cells:nth-child(3) { background: url(../../img/main/box-202.webp) 50% 50% no-repeat; background-size: cover; margin-top: 46px; }
#int .full-inner .v-con li.cells:nth-child(5) { background: url(../../img/main/box-203.webp) 50% 50% no-repeat; background-size: cover; margin-top: -31px; }
#int .full-inner .v-con li.cells:last-child { background: url(../../img/main/box-204.webp) 50% 50% no-repeat; background-size: cover; }
#int .full-inner .v-con li.cells .title-con { margin-bottom: 0; position: absolute; top: 64%; opacity: 1; transition: all 200ms ease-out; }
#int .full-inner .v-con li.cells .title-con h2 img { max-width: 440px; }
#int .full-inner .v-con li.cells .text-box { padding: 41% 40px 40px; }
#int .full-inner .v-con li.cells .text-box > * { color: #fefefe; }
#int .full-inner .v-con li.cells .text-box h3 { margin-bottom: 20px; }
/*scroll-animation*/
#int.hide .full-inner .v-con li.cells .title-con { opacity: 0; margin-top: -30px; }
#int.hide .full-inner .v-con li.cells:nth-child(2),
#int.hide .full-inner .v-con li.cells:nth-child(3),
#int.hide .full-inner .v-con li.cells:nth-child(5),
#int.hide .full-inner .v-con li.cells:last-child { opacity: 0; margin-top: -30px; }
/*scroll-animation-end*/

#area .full-inner .v-con { margin-top: 3%; }
#area .full-inner .v-con:after { content: ''; display: block; clear: both; }
#area .full-inner .v-con li.cells { float: right; opacity: 1; transition: all 250ms ease-out; }
#area .full-inner .v-con li.cells:first-child { width: calc(33.333% - 40px); }
#area .full-inner .v-con li.cells:last-child { width: calc(66.666% - 40px); }
#area .full-inner .v-con li.cells ul .list-con { padding: 4% 0; position: relative; }
#area .full-inner .v-con li.cells ul .list-con:first-child { padding: 10px 0 4%; }
#area .full-inner .v-con li.cells ul .list-con:before { content: ''; position: absolute; bottom: -1px; left: 10%; width: 80%; height: 2px; background-color: #111; }
#area .full-inner .v-con li.cells ul .list-con:last-child:before { display: none; }
#area .full-inner .v-con li.cells ul .list-con > * { display: inline-block; vertical-align: middle; }
#area .full-inner .v-con li.cells ul .list-con .icon-box { text-align: center; margin-right: 40px; }
#area .full-inner .v-con li.cells ul .list-con:nth-child(3) .icon-box,
#area .full-inner .v-con li.cells ul .list-con:last-child .icon-box { margin: 0 43px 0 6px; }
#area .full-inner .v-con li.cells ul .list-con .icon-box span { color: #5C78CB; font-size: 40px; }
#area .full-inner .v-con li.cells ul .list-con .icon-box span.arrow { display: none; }
#area .full-inner .v-con li.cells ul .list-con .icon-box h4 { font-family: 'Mulish'; font-weight: 500; }
#area .full-inner .v-con li.cells ul div:nth-child(2) { width: 135px; margin-right: 62px; }
#area .full-inner .v-con li.cells ul .list-con .list { list-style: disc; width: 60%; }
#area .full-inner .v-con li.cells ul .list-con .list li { margin: 10px 0; }
#area .full-inner .v-con li.cells .img-box { border-radius: 20px; overflow: hidden; }
#area .full-inner .v-con li.cells .img-box img.pc { width: 100%; display: block; }
#area .full-inner .v-con li.cells .img-box img.m { display: none; }
/*scroll-animation*/
#area.hide .full-inner .v-con li.cells { opacity: 0; margin-right: 50px; margin-left: -10px; }
/*scroll-animation-end*/

#compline { background: url(../../img/main/bg-compline.webp) 52% 50% no-repeat; background-size: cover; }
#compline .full-inner .title-con { margin-top: 10%; opacity: 1; transition: all 250ms ease-out; }
#compline .full-inner img { display: none; }
#compline .full-inner ul.popup-con > li { position: absolute; width: 350px; opacity: 1; transition: all 200ms ease-out; }
#compline .full-inner ul.popup-con > li:first-child { top: 31%; left: 45%; }
#compline .full-inner ul.popup-con > li:nth-child(2) { top: 60%; left: 81%; }
#compline .full-inner ul.popup-con > li:last-child { top: 76%; left: 32%; }
#compline .full-inner ul.popup-con > li:after { content: ''; display: block; clear: both; }
#compline .full-inner ul.popup-con li .popup-btn { position: absolute; width: 50px; height: 50px; z-index: 9; cursor: pointer; text-shadow: 0 0 5px rgba(1, 1, 1, .3); }
#compline .full-inner ul.popup-con li:first-child .popup-btn,
#compline .full-inner ul.popup-con li:last-child .popup-btn { top: -19px; left: 316px; }
#compline .full-inner ul.popup-con li:nth-child(2) .popup-btn { top: -19px; left: -19px; }
#compline .full-inner ul.popup-con li:hover .popup { display: block; }
#compline .full-inner ul.popup-con li .popup-btn span { color: #fefefe; font-size: 50px; }
#compline .full-inner ul.popup-con li .popup-btn span.close { display: none; }
#compline .full-inner ul.popup-con > li:first-child .popup-btn span { color: #442e83; }
#compline .full-inner ul.popup-con li .popup { color: #fefefe; padding: 40px; background-color: rgba(1, 1, 1, .4); border-radius: 20px; display: none; backdrop-filter: blur(10px);-webkit-backdrop-filter: blur(10px);}
#compline .full-inner ul.popup-con li .popup h4 { margin-bottom: 20px; }
#compline .full-inner ul.popup-con li .popup .p-list { list-style: disc; }
#compline .full-inner ul.popup-con li .popup .p-list li { margin-bottom: 10px; }
#compline .full-inner ul.popup-con li .popup .p-list li:last-child { margin-bottom: 0; }
/*scroll-animation*/
#compline.hide .full-inner .title-con { opacity: 0; margin-left: -10px; }
#compline.hide .full-inner ul.popup-con li { opacity: 0; }
#compline button.on { animation: button 500ms ease-out 1800ms; }
/*scroll-animation-end*/

#service img { position: absolute; }
#service img:first-child { top: -312px; left: -201px; transform: rotate(-3deg); opacity: 1; transition: all 250ms ease-out; }
#service img:nth-child(2) { top: -89px; right: -211px; transform: rotate(7deg); opacity: 1; transition: all 250ms ease-out; }
#service .full-inner .title-con { margin-top: 100px; text-shadow: 0 0 10px rgba(244, 244, 244, .3); opacity: 1; transition: all 250ms ease-out; }
#service .full-inner .v-con li.cells { text-align: center; background-color: rgba(135, 155, 205, .1); border-radius: 20px; padding: 40px 0; margin-top: 0; opacity: 1; transition: all 250ms ease-out;}
#service .full-inner .v-con li.cells span { font-size: 60px; color: #5C78CB; }
#service .full-inner .v-con li.cells h4 { margin-top: 40px; }
/*scroll-animation*/
#service.hide img:first-child { left: -211px; opacity: 0; }
#service.hide img:nth-child(2) { right: -221px; opacity: 0; }
#service.hide .full-inner .title-con { opacity: 0; margin-top: 110px; }
#service.hide .full-inner .v-con li.cells { margin-top: 10px; opacity: 0; }
/*scroll-animation-end*/

#contact { background: url(../../img/main/bg-contact.webp) 90% 50% no-repeat; background-size: cover; }
#contact .full-inner .title-con { margin-top: 50px; }
#contact .full-inner .v-con li.cells > * { margin-bottom: 40px; }
#contact .full-inner .v-con li.cells:after { content: ''; position:absolute; top: 0; right: -20px; width: 2px; height: 372px; background-color: #111; }
#contact .full-inner .v-con li.cells:last-child:after { display: none; }
#contact .full-inner .v-con li.cells .contact-title > * { display: inline-block; }
#contact .full-inner .v-con li.cells .contact-title span { margin-left: 14px; }
#contact .full-inner .v-con li.cells:first-child .contact-title span { animation: tel-icons 1000ms linear infinite; -webkit-animation: tel-icons 1000ms linear infinite;}
#contact .full-inner .v-con li.cells:nth-child(2) .contact-title span { animation: set-icons 600ms linear infinite; -webkit-animation: set-icons 600ms linear infinite;}
#contact .full-inner .v-con li.cells:last-child .contact-title span { animation: loc-icons 600ms ease-out infinite alternate; -webkit-animation: loc-icons 600ms ease-out infinite alternate;}
#contact .full-inner .v-con li.cells .contact-con .contact-num { margin-bottom: 20px; }
#contact .full-inner .v-con li.cells .contact-con .contact-num.last { margin-bottom: 60px; }
#contact .full-inner .v-con li.cells .contact-con .contact-num > * { display: inline-block; font-family: 'mulish'; font-weight: 700; }
#contact .full-inner .v-con li.cells .contact-con .contact-num .ko { font-family: 'Noto Sans KR'; font-weight: 400; }
#contact .full-inner .v-con li.cells:first-child .contact-con .contact-num > h4,
#contact .full-inner .v-con li.cells:nth-child(2) .contact-con .contact-num > h4 { width: 61px; }
#contact .full-inner .v-con li.cells:last-child .contact-con .contact-num > h4 { width: 115px; }
#contact .full-inner .v-con li.cells .contact-con .contact-num a,
#contact .full-inner .v-con li.cells .contact-con .contact-num p { margin-left: 30px; }
#contact .full-inner .v-con li.cells .contact-con .contact-num a { text-decoration: underline; }
#contact .full-inner .v-con li.cells .contact-con .button-con h4 { display: inline-block; vertical-align: middle; margin-right: 20px; }
#contact .full-inner .v-con li.cells .contact-con .button-con button p { margin-bottom: 0; }
#contact .full-inner .v-con li.cells:nth-child(2) .contact-con .button-con { margin-top: 100px; }
#contact .full-inner .v-con li.cells:nth-child(2) .contact-con .button-con button p { text-indent: 33px; margin-right: 20px; }
#contact footer { position: absolute; bottom: 0; width: 100%; }

/*responsive*/
@media screen and (min-width: 1521px) and (max-width: 1920px){
  #wrap,
  #fullpage{max-width: 1920px;}

  #int .full-inner .v-con li.cells:nth-child(5) { margin-top: -46px;}
  #int .full-inner .v-con li.cells .title-con h2 br,
  #contact .full-inner .title-con h2 br { display: inline-block; content: ""; }
  #contact .full-inner .title-con h2 br { padding: 0 9px; }
}

@media screen and (min-width: 1001px) and (max-width: 1520px){
  #wrap,
  #fullpage{max-width: 1520px;}
  h2 { font-size: 60px; }
  h3 { font-size: 30px; }
  .quick li { width: 20px; }
  .quick .on { width: 35px; }

  .fullsections .full-inner { width: 85%; height: 80%; }

  #int .full-inner .v-con li.cells .text-box { padding: 150px 40px 40px; }

  #area .full-inner .v-con li.cells ul .list-con { padding: 21px 0; }
  #area .full-inner .v-con li.cells ul .list-con:first-child { padding: 10px 0 21px; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box { margin-right: 20px; }
  #area .full-inner .v-con li.cells ul .list-con:nth-child(3) .icon-box,
  #area .full-inner .v-con li.cells ul .list-con:last-child .icon-box { margin: 0 23px 0 6px; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box h4 { font-size: 16px; }
  #area .full-inner .v-con li.cells ul div:nth-child(2) { margin-right: 42px; }
  #area .full-inner .v-con li.cells ul .list-con .list { width: 50%; }
  #area .full-inner .v-con li.cells .img-box { height: 200px; }
  #area .full-inner .v-con li.cells .img-box img.pc { display: none; }
  #area .full-inner .v-con li.cells .img-box img.m { height: 100%; display: block; }

  #compline .full-inner ul.popup-con > li { width: 250px; }
  #compline .full-inner ul.popup-con > li:first-child { top: 29%; left: 65%; }
  #compline .full-inner ul.popup-con > li:nth-child(2) { top: 50%; left: 70%; }
  #compline .full-inner ul.popup-con > li:last-child { top: 67%; left: 35%; }
  #compline .full-inner ul.popup-con li:first-child .popup-btn { top: -19px; left: -19px; }
  #compline .full-inner ul.popup-con li:nth-child(2) .popup-btn,
  #compline .full-inner ul.popup-con li:last-child .popup-btn { top: -19px; left: 216px; }

  #service img:first-child { width: 78%; }
  #service img:nth-child(2) { width: 33%; }
  #service .full-inner .title-con { margin-top: 50px; }
  #service .full-inner .v-con li.cells { width: calc(20% - 20px); margin: 0 10px 20px; }
  #service .full-inner .v-con li.cells h4 { font-size: 16px; }

  #contact .full-inner .title-con { margin-top: 40px; margin-bottom: 60px; }
  #contact .full-inner .title-con h2 br { display: inline-block; content: ""; padding: 0 7px; }
  #contact .full-inner .v-con li.cells > * { margin-bottom: 20px; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num > * { display: block; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num.last { margin-bottom: 40px; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num a,
  #contact .full-inner .v-con li.cells .contact-con .contact-num p { margin-left: 0; }
  #contact .full-inner .v-con li.cells .contact-con > h4 { display: block; margin-right: 0; margin-top: 88px; }
  #contact .full-inner .v-con li.cells:nth-child(2) .contact-con .button-con { margin-top: 89px; }
  #contact .full-inner .v-con li.cells:nth-child(2) .contact-con .button-con > * { display: block; }
  #contact .full-inner .v-con li.cells:nth-child(2) .contact-con button { margin-top: 10px; }
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
  #wrap,
  #fullpage{max-width: 1000px;}
  h1 { font-size: 80px; }
  h2 { font-size: 45px; }
  h3 { font-size: 30px; }
  h4 { font-size: 20px; font-weight: 600; }
  h5, p { font-size: 16px; font-weight: 400; }
  .title-con h5,
  .title-con p { margin-top: 24px; }

  .fullsections .full-inner { width: 85%; height: 80%; }
  #visual .title-con { margin-top: 130px; }
  #visual .title-con h2 { font-size: 60px; }
  #visual .title-con h3 { margin-top: 40px; font-size: 30px; }

  #int .full-inner .v-con li.cells .text-box { padding: 200px 30px 30px; }
  #int .full-inner .v-con li.cells { width: calc(50% - 40px); }
  #int .full-inner .v-con li.cells:first-child { width: calc(100% - 40px); height: auto; }
  #int .full-inner .v-con li.cells .title-con { text-align: center; margin-bottom: 0; }
  
  #area .full-inner .v-con li.cells .title-con { text-align: center; margin-bottom: 0; }
  #area .full-inner .v-con li.cells ul .list-con { padding: 21px 0; }
  #area .full-inner .v-con li.cells ul .list-con:first-child { padding: 10px 0 21px; }
  #area .full-inner .v-con li.cells ul .list-con:nth-child(3) .icon-box,
  #area .full-inner .v-con li.cells ul .list-con:last-child .icon-box { margin: 0 10px 0 0; }
  #area .full-inner .v-con li.cells ul .list-con .list li { margin: 0 0 10px; }
  #area .full-inner .v-con li.cells ul .list-con .list { width: calc(100% - 209px); }
  #area .full-inner .v-con li.cells ul .list-con .icon-box { margin-right: 10px; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box span { font-size: 24px; }
  #area .full-inner .v-con li.cells ul div:nth-child(2) { margin-right: 32px; }

  #compline .full-inner img { margin-top: 40px; }
  #compline .full-inner .title-con { margin-bottom: 40px; }
  #compline .full-inner button { margin-left: calc(50% - 110px); }
  #compline .full-inner img { height: 50%; }
  #compline .full-inner ul.popup-con > li { width: 45%; }
  #compline .full-inner ul.popup-con > li:first-child { top: 45%; }
  #compline .full-inner ul.popup-con > li:nth-child(2) { top: calc(63% + 4px); }
  #compline .full-inner ul.popup-con > li:last-child { top: 82%; }
  #compline .full-inner ul.popup-con > li:first-child,
  #compline .full-inner ul.popup-con > li:nth-child(2),
  #compline .full-inner ul.popup-con > li:last-child { left: 55%; }
  #compline .full-inner ul.popup-con li .popup-btn { top: 30px !important; left: -50px !important; }

  #service img:first-child { top: -121px; left: -206px; }
  #service img:nth-child(2) { top: -18px; right: -99px; width: 33%; }
  #service .full-inner .v-con li.cells { width: calc(33.333% - 20px); margin: 0 10px 20px; }
  #service .full-inner .v-con li.cells:nth-child(4) { margin-left: calc(20% - 12px); }
  #service .full-inner .title-con { margin-bottom: 40px; }
  

  #contact .full-inner .title-con { margin-top: 20px; margin-bottom: 40px; }
  #contact .full-inner .title-con h2 br { display: inline-block; content: ""; padding: 0 7px; }
  #contact .full-inner .v-con li.cells { margin: 0 10px 20px; }
  #contact .full-inner .v-con li.cells:after { bottom: 0; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num { margin-bottom: 10px; }

}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #wrap,
  #fullpage{ min-width: 380px; max-width: 720px;}
  h1 { font-size: 60px ; }
  h2 { font-size: 40px; }
  h3 { font-size: 20px; }
  h4 { font-size: 16px; }
  h5, p { font-size: 14px; }
  .title-con { text-align: center; }
  .title-con h2 { margin-top: 10px; }
  .title-con h4 { margin-top: 31px; }
  .title-con h5,
  .title-con p { margin-top: 14px; }
  .title-con p { display: none;}
  .title-con p.mobileonly { display: block; }
  ul.v-con { width: calc(100% + 20px); margin: 0 -10px -20px; position: relative; }
  ul.v-con li.cells { margin: 0 10px 20px; }
  ul.v-con li.cells.box { position: relative; }
  ul.v-con.one-con > li.cells { width: calc(100% - 20px); }
  ul.v-con.two-con > li.cells { width: calc(50% - 20px); }
  ul.v-con.three-con > li.cells { width: calc(33.333% - 20px); }
  ul.v-con.four-con > li.cells { width: calc(25% - 20px); }
  ul.v-con.five-con > li.cells { width: calc(20% - 20px); }
  ul.v-con.six-con > li.cells { width: calc(16.666% - 20px); }

  .fullsections .full-inner { width: calc(100vw - 60px); }
  
  #visual .title-con { margin-top: 150px; margin-bottom: 40px; text-align: left; }
  #visual .title-con h2 { font-size: 40px; }
  #visual .title-con h3 { margin-top: 20px; font-size: 20px; }
  .scroll-icon { top: 400px;}

  #int .full-inner .v-con li.cells { width: calc(50% - 20px); }
  #int .full-inner .v-con li.cells:first-child { width: calc(100% - 20px); height: auto; }
  #int .full-inner .v-con li.cells:nth-child(3) { margin-top: 0; }
  #int .full-inner .v-con li.cells:nth-child(4) { display: none; }
  #int .full-inner .v-con li.cells:nth-child(5) { margin-top: 0; }
  #int .full-inner .v-con li.cells .title-con { margin-bottom: 5px; }
  #int .full-inner .v-con li.cells .text-box { padding: 90px 14px 20px; }
  #int .full-inner .v-con li.cells .text-box h3 { margin-bottom: 10px; }

  #area .full-inner .v-con li.cells { width: calc(100% - 20px) !important; }
  #area .full-inner .v-con li.cells .img-box { display: none; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box h4 { display: none; }
  #area .full-inner .v-con li.cells ul .list-con:nth-child(3) .icon-box,
  #area .full-inner .v-con li.cells ul .list-con:last-child .icon-box { margin: 0; }
  #area .full-inner .v-con li.cells ul .list-con > * { vertical-align: top; }
  #area .full-inner .v-con li.cells ul .list-con .list li:last-child { margin: 0; }

  #area .full-inner .v-con li.cells .title-con { margin-bottom: 0; }
  #area .full-inner .v-con li.cells ul .list-con { cursor: pointer;}
  #area .full-inner .v-con li.cells ul .list-con { padding: 21px 10px; }
  #area .full-inner .v-con li.cells ul .list-con:first-child { padding: 10px 10px 21px; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box { margin-right: 0; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box span { font-size: 24px; margin-right: -10px;}
  #area .full-inner .v-con li.cells ul .list-con .icon-box span.arrow { display: inline-block; margin-right: 0; color: #012B7F;}
  #area .full-inner .v-con li.cells ul .list-con.on .icon-box span.arrow { transform: rotate(180deg); color: #879BCD;}
  #area .full-inner .v-con li.cells ul div:nth-child(2) { width: auto; margin-bottom: 20px;}
  #area .full-inner .v-con li.cells ul .list-con div:nth-child(2) { width: calc(100% - 46px); margin-right: 0; margin-bottom: 0;}
  #area .full-inner .v-con li.cells ul .list-con.on div:nth-child(2) { margin-bottom: 20px;}
  #area .full-inner .v-con li.cells ul .list-con div h4 br { display: inline-block; content: ""; padding: 0 2px; }
  #area .full-inner .v-con li.cells ul .list-con .list { width: auto; opacity: 0; display: none; padding: 0 20px;}
  #area .full-inner .v-con li.cells ul .list-con.on .list { width: auto; opacity: 1; display: block;}
  #area .full-inner .v-con li.cells ul .list-con .list li { margin: 0 0 5px; }

  #compline .full-inner img { margin-top: 50px; }
  #compline .full-inner .title-con { margin-bottom: 20px; }
  #compline .full-inner button { margin-left: calc(50% - 100px); }
  #compline .full-inner img { position: absolute; top: 36%; right: calc(50% - 300px); transform: rotate(-12deg); width: 400px; opacity: .7; }
  #compline .full-inner ul.popup-con li .popup-btn { left: auto !important; right: 0; top: 10px !important;}
  #compline .full-inner ul.popup-con li .popup-btn span { font-size: 40px; }
  #compline .full-inner ul.popup-con li.on .popup-btn span:first-child { display: none; }
  #compline .full-inner ul.popup-con li.on .popup-btn span.close { display: block; color: #B8C8EE;}
  #compline .full-inner ul.popup-con li .popup { display: block; }
  #compline .full-inner ul.popup-con > li { position: relative; left: 0 !important; width: 100%; margin-top: 20px; }
  #compline .full-inner ul.popup-con > li:first-child { top: calc(35% + 20px); }
  #compline .full-inner ul.popup-con > li:nth-child(2) { top: 73%; }
  #compline .full-inner ul.popup-con > li:last-child { top: 80%; }
  #compline .full-inner ul.popup-con li .popup h4 { margin-bottom: 0; }
  #compline .full-inner ul.popup-con li .popup .p-list { display: none; }
  #compline .full-inner ul.popup-con li.on .popup h4 { margin-bottom: 10px; }
  #compline .full-inner ul.popup-con li.on .popup .p-list { display: block; }

  #service img:first-child { top: -115px; left: -112px; transform: rotate(18deg); }
  #service img:nth-child(2) { top: -74px; right: -114px; transform: rotate(22deg); width: 55%; }
  #service .full-inner .v-con li.cells { width: calc(50% - 20px); margin: 0 10px 20px; padding: 20px 0; }
  #service .full-inner .v-con li.cells:last-child { margin-left: calc(50%); transform: translateX(-50%); }
  #service .full-inner .v-con li.cells span { font-size: 40px; }
  #service .full-inner .v-con li.cells h4 { margin-top: 10px; }
  #service .full-inner .title-con { margin-bottom: 20px; }
  
  #contact .full-inner .title-con { margin-top: 0; margin-bottom: 20px; }
  #contact .full-inner .title-con h2 { margin-top: 0;}
  #contact .full-inner .v-con li.cells { margin: 0 10px 20px; }
  #contact .full-inner .v-con li.cells:after { bottom: -11px; }
  #contact .full-inner .v-con li.cells .contact-con { margin-bottom: 0; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num { margin-bottom: 0; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num h4 { margin-bottom: 5px; }
  #contact .full-inner .v-con li.cells:first-child .contact-con .contact-num a { margin-bottom: 0; }
  
  
}


/*430-1000*/
@media screen and (min-width: 0px) and (max-width: 1000px) {
  #wrap,
  #fullpage{max-width: 720px;}

  .fullsections .full-inner { height: calc(100vh - 160px); top: 60px; transform: translate(-50%, 0); }
  .quick { display: none; }

  #int .full-inner .v-con li.cells:nth-child(4) { display: none; }
  #int .full-inner .v-con li.cells .title-con { position: relative; }
  #int .full-inner .v-con li.cells .title-con h2 img { max-width: 240px; }
  #int .full-inner .v-con li.cells .text-box { padding: 110px 14px 20px; }
  #int .full-inner .v-con li.cells .text-box h3 { margin-bottom: 10px; }

  #area .full-inner .v-con li.cells { width: calc(100% - 20px) !important; }
  #area .full-inner .v-con li.cells .img-box { display: none; }
  #area .full-inner .v-con li.cells ul .list-con .icon-box h4 { display: none; }
  #area .full-inner .v-con li.cells ul .list-con > * { vertical-align: top; }
  #area .full-inner .v-con li.cells ul .list-con .list li:last-child { margin: 0; }
  #area .full-inner .v-con li.cells ul .list-con .list { margin-top: -2px; }

  #compline { background: url(../../img/main/bg-compline-m.webp) 52% 50% no-repeat; background-size: cover; }
  #compline .full-inner img { display: block; }
  #compline .full-inner .title-con { text-align: center; margin-top: 0; }
  #compline .full-inner ul.popup-con li .popup { padding: 20px; }
  #compline .full-inner ul.popup-con li .popup .p-list { padding-left: 10px; }
  #compline .full-inner ul.popup-con > li:first-child .popup-btn span { color: #fefefe; }

  #service img:first-child { width: 78%; }
  #service .full-inner .title-con { margin-top: 0;}

  #contact .full-inner .v-con li.cells { width: calc(100% - 20px); }
  #contact .full-inner .v-con li.cells > * { margin-bottom: 20px; }
  #contact .full-inner .v-con li.cells:after { top: auto; right: 0; width: 100%; height: 2px; }
  #contact .full-inner .v-con li.cells .contact-title h4 { vertical-align: bottom; }
  #contact .full-inner .v-con li.cells > p { display: none; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num { display: inline-block; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num > * { display: block; margin: 0 20px 10px 0; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num.last { margin-bottom: 0px; }
  #contact .full-inner .v-con li.cells .contact-con .contact-num a,
  #contact .full-inner .v-con li.cells .contact-con .contact-num p { margin-left: 0; }
  #contact .full-inner .v-con li.cells:nth-child(2) .contact-con .button-con { margin-top: 0; }
}

@media screen and (min-width: 0px) and (max-width: 476px) {

  #int .full-inner .v-con li.cells { height: 200px; }
  #int .full-inner .v-con li.cells:first-child { height: auto; }
  #int .full-inner .v-con li.cells .text-box { padding: 50px 14px 20px; }

}
/*responsive end*/